/* ==========================
   GOOGLE FONT
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0f172a;
    color:#fff;
    line-height:1.6;
}

img{
    width:100%;
    display:block;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

.section{
    padding:80px 0;
}

.section-title{
    text-align:center;
    font-size:2.2rem;
    margin-bottom:50px;
    color:#3b82f6;
}

/* ==========================
   NAVBAR
========================== */

header{
    position:sticky;
    top:0;
    z-index:1000;
    background:#111827;
    box-shadow:0 5px 20px rgba(0,0,0,.3);
}

.nav-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
}

.logo{
    font-size:1.8rem;
    font-weight:700;
}

.logo span{
    color:#3b82f6;
}

.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{
    transition:.3s;
    font-weight:500;
}

.nav-links a:hover{
    color:#3b82f6;
}

/* ==========================
   HERO
========================== */

.hero{
    min-height:90vh;
    display:flex;
    align-items:center;
}

.hero-content{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:60px;
    align-items:center;
}

.hero h1{
    font-size:3.3rem;
    margin-bottom:10px;
}

.hero h1 span{
    color:#3b82f6;
}

.hero h3{
    color:#94a3b8;
    margin-bottom:20px;
}

.hero p{
    margin-bottom:30px;
    color:#cbd5e1;
}

.hero-image{
    display:flex;
    justify-content:center;
}

.hero-image img{
    width:330px;
    height:330px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid #3b82f6;
}

/* ==========================
   BUTTONS
========================== */

.hero-buttons{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.btn{
    display:inline-block;
    padding:12px 28px;
    background:#3b82f6;
    color:#fff;
    border-radius:10px;
    transition:.3s;
    font-weight:600;
}

.btn:hover{
    transform:translateY(-4px);
    background:#2563eb;
}

.btn-outline{
    background:transparent;
    border:2px solid #3b82f6;
}

.btn-outline:hover{
    background:#3b82f6;
}

/* ==========================
   ABOUT
========================== */

.about-text{
    max-width:850px;
    margin:auto;
    text-align:center;
    color:#cbd5e1;
    font-size:1.1rem;
}

/* ==========================
   SKILLS
========================== */

.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
    gap:20px;
}

.skill-card{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    text-align:center;
    align-content: center;
    transition:.3s;
    cursor:pointer;
    border:1px solid rgba(255,255,255,.08);
}

.skill-card:hover{
    transform:translateY(-8px);
    background:#3b82f6;
}

/* ==========================
   PROJECTS
========================== */

.project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.project-card{
    background:#1e293b;
    border-radius:15px;
    overflow:hidden;
    transition:.3s;
    border:1px solid rgba(255,255,255,.08);
}

.project-card:hover{
    transform:translateY(-10px);
}

.project-card img{
    height:200px;
    object-fit:cover;
    object-position: top;

}

.project-card h3{
    padding:20px 20px 10px;
}

.project-card p{
    padding:0 20px 20px;
    color:#cbd5e1;
}

.project-buttons{
    padding:0 20px 25px;
}

/* ==========================
   CONTACT
========================== */

.contact-links{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
}

.contact-links a{
    background:#1e293b;
    padding:15px 25px;
    border-radius:10px;
    transition:.3s;
}

.contact-links a:hover{
    background:#3b82f6;
}

.contact-links i{
    margin-right:10px;
}

/* ==========================
   FOOTER
========================== */

footer{
    background:#111827;
    text-align:center;
    padding:25px;
    color:#94a3b8;
}

/* ==========================
   SCROLLBAR
========================== */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-thumb{
    background:#3b82f6;
    border-radius:10px;
}

::-webkit-scrollbar-track{
    background:#0f172a;
}

/* ==========================
   RESPONSIVE
========================== */

@media(max-width:900px){

.hero-content{
grid-template-columns:1fr;
text-align:center;
}

.hero-image{
order:-1;
}

.hero-buttons{
justify-content:center;
}

.nav-links{
gap:18px;
}

}

@media(max-width:768px){

.nav-container{
flex-direction:column;
gap:20px;
}

.nav-links{
flex-wrap:wrap;
justify-content:center;
}

.hero h1{
font-size:2.4rem;
}

.section-title{
font-size:1.8rem;
}

.hero-image img{
width:250px;
height:250px;
}

}

@media(max-width:500px){

.hero h1{
font-size:2rem;
}

.btn{
width:100%;
text-align:center;
}

.contact-links{
flex-direction:column;
}

}

/* Active Navigation */

.nav-links a.active{
    color:#3b82f6;
}

/* Scroll Animation */

.hidden{
    opacity:0;
    transform:translateY(60px);
    transition:all .8s ease;
}

.show{
    opacity:1;
    transform:translateY(0);
}

/* Back To Top Button */

#topBtn{
    position:fixed;
    bottom:25px;
    right:25px;
    width:50px;
    height:50px;
    border:none;
    border-radius:50%;
    background:#3b82f6;
    color:white;
    font-size:22px;
    cursor:pointer;
    display:none;
    transition:.3s;
    z-index:999;
}

#topBtn:hover{
    transform:translateY(-5px);
    background:#2563eb;
}

/* Loading */

body{
    opacity:0;
    transition:.5s;
}

body.loaded{
    opacity:1;
}

/* ==========================
   STATS
========================== */

.stats-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

}

.stat-card{

background:#1e293b;

padding:40px;

text-align:center;

border-radius:15px;

transition:.3s;

border:1px solid rgba(255,255,255,.08);

}

.stat-card:hover{

transform:translateY(-10px);

}

.stat-card h2{

font-size:3rem;

color:#3b82f6;

margin-bottom:10px;

}

/* ==========================
   EDUCATION
========================== */

.timeline{

position:relative;

max-width:900px;

margin:auto;

}

.timeline::before{

content:"";

position:absolute;

left:50%;

width:4px;

height:100%;

background:#3b82f6;

transform:translateX(-50%);

}

.timeline-item{

position:relative;

width:50%;

padding:20px;

}

.timeline-item:nth-child(odd){

left:0;

}

.timeline-item:nth-child(even){

left:50%;

}

.timeline-content{

background:#1e293b;

padding:25px;

border-radius:15px;

}

.timeline-content h3{

margin-bottom:10px;

}

.timeline-content span{

color:#3b82f6;

font-weight:600;

display:block;

margin-bottom:10px;

}

@media(max-width:768px){

.timeline::before{

left:20px;

}

.timeline-item{

width:100%;

left:0 !important;

padding-left:50px;

}

}